.vscode/**
.vscode-test/**
.github/**
out/**
dist-vsix/**
src/**
docs/**
scripts/**
.gitignore
.yarnrc
esbuild.js
CLAUDE.md
media/*.svg
test-output.log
package-lock.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
